.git
.gitignore
.env
.env.*
!.env.example
!.env.railway.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
public/build
public/hot
public/storage
.idea
.vscode
.DS_Store
tests
phpunit.xml
docs
README.md
.github
