[submodule "Modules/School"]
	path = Modules/School
	url = git@github.com:24lyhour/Modules-HrSystem-School.git
[submodule "Modules/Employee"]
	path = Modules/Employee
	url = git@github.com:24lyhour/Modules-HrSystem-Employee.git
